/* ---------- Main style ---------- */
body {
  background-color: #1F1F1F;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  font-family: Tahoma;
  color:rgb(232, 232, 232);
}

h1, h2{
  font-weight: 500;
  font-family: Georgia;
}

p{
  text-align: justify;
}

/* ---------- Link style ---------- */
a:link {
  color: #6992d6;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #7e7e7e;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #69d69f;
  background-color: transparent;
  text-decoration: none;
}

/* ---------- Table style ---------- */
table{
  text-align:left;
  vertical-align:top;
}

/* <th> stands for header cell */
/* Overhide the "font-weight" of the "th" element in CSS */
/* <=> first row of a table not bold */
th{
    font-weight: normal;
    padding-top:10px;
    padding-right:60px;
    padding-bottom:10px;
}

/* <td> stands for data cell */
td{
  padding-top:10px;
  padding-right:60px;
  padding-bottom:10px;
}


/* ---------- List style ---------- */
ul{
  list-style-type: circle;
  line-height: 30px;
  text-align: justify;
}


/* ---------- Specific styles ---------- */
.bio{
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ---------- Styles for mobile devices ---------- */
@media (max-width: 500px) {
  body {
    width: 70%;
    margin-top: 30%;
    margin-bottom: 30%;
  }
}
